.popup__caption {
    margin: 10px 0px 0px 0px;
    padding: 0;
    display: block;
    max-width: 100%;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    }