.element {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    }
   
      
    @media screen and (max-width: 500px) {
        .element {
        width: calc(100vw - 38px);
        }
        }