.profile-info__edit-button {
    margin: 37px 0px 0px 18px;
    padding: 0px;
    width: 24px;
    height: 24px;
    background-image: url(../../../images/editbuton.svg);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

.profile-info__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 879px) {
    .profile-info__edit-button {
        margin: 34px 0px 0px 10px;
        width: 18px;
        height: 18px;
    }
}