.forma__name {
    margin: 22px 0px 0px 30px;
padding: 0px;
font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    /* or 114% */
        color: #FFFFFF;
}

@media screen and (max-width: 879px) {
    .forma__name {
        margin: 26px 0px 0px 0px;
        font-size: 27px;
line-height: 33px;
text-align: center;
    }
}