.popup__form {
    margin: 24px 0px 0px 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media screen and (max-width: 879px) {
    .popup__form {
        margin: 45px 0px 0px 0px;
    }
}