.forma__profession {
    margin: 16px 0px 0px 30px;
    padding: 0px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

@media screen and (max-width: 879px) {
    .forma__profession {
        margin: 14px 0px 0px 0px;
        font-size: 14px;
        line-height: 17px;
        align-self: center;
    }
}