.popup__input {
    position: relative;
    margin: 0px 36px 0px 36px;
    padding: 0px 0px 13px 0px;
    width: 358px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 879px) {
    .popup__input {
        width: 238px;
        margin: 0px 22px 0px 22px;
    }
}


/*.popup__input:valid {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input:invalid {
    border-bottom: 1px solid #FF0000;
}*/