.popup {
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.5s linear;
}

.popup:before {
    position: fixed;
    content: "";
    width: 100vw;
    height: 100vh;
    background: #000000;
    opacity: 0.5;
}